modules = ["c-clang14", "cpp-clang14", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libxcrypt", "libyaml", "pkg-config", "python312Packages.pip", "qhull", "tcl", "tk", "xsimd"]

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "SkinTwin System"

[[workflows.workflow]]
name = "SkinTwin System"
author = 39128348
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python agi-skintwin/main.py --demo"
